<div
  class="dishly-select"
  translate="yes"
  [class.is-open]="isOpen()"
  tabindex="0"
  [attr.aria-haspopup]="'listbox'"
  [attr.aria-expanded]="isOpen()"
  (focusout)="onRootFocusOut($event)"
  (keydown)="onContainerKeydown($event)"
>

  <button
    type="button"
    class="dishly-select__trigger"
    translate="yes"
    [class.is-placeholder]="isPlaceholderShown"
    (click)="toggle()"
    tabindex="-1"
  >
    <span class="dishly-select__label" translate="yes">{{ selectedLabel }}</span>
    <span class="dishly-select__icon" aria-hidden="true">
      <svg width="14" height="10" viewBox="0 0 16 16" fill="none">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/>
      </svg>
    </span>
  </button>

  @if (isOpen()) {
    <ul
      class="dishly-select__listbox"
      role="listbox"
      translate="yes"
      [attr.aria-label]="placeholder"
    >
      @for (option of options; track option.value) {
        <li
          class="dishly-select__option"
          translate="yes"
          role="option"
          tabindex="0"
          [attr.aria-selected]="option.value === value"
          [class.is-selected]="option.value === value"
          (keydown)="onOptionKeydown($event, option)"
          (mousedown)="$event.preventDefault()"
          (click)="select(option)"
        >
          @if (option.value === value) {
            <span class="dishly-select__check" aria-hidden="true">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 13l4 4L19 7"/>
              </svg>
            </span>
          }
          {{ option.label }}
        </li>
      }
    </ul>
  }

</div>
