<div class="chef-hat">
  <div class="hat-top"></div>
  <div class="hat-brim"></div>
</div>
<div class="chef-face">
  <div class="chef-eyes">
    <span class="eye"></span>
    <span class="eye"></span>
  </div>
  <div class="chef-mouth" [class.chef-mouth--happy]="happy()"></div>
</div>
<div class="chef-body">
  <div class="chef-buttons">
    <span></span><span></span><span></span>
  </div>
</div>
<div class="steam">
  <span class="swirl s1">~</span>
  <span class="swirl s2">~</span>
  <span class="swirl s3">~</span>
</div>
<ng-content></ng-content>
