/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap");
:root
{
	--font-sans: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
	
	--font-display: "Poppins", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
	--font-display-extrabold: 800;
	
	--background: #ffffff;
	
	--highlight: #FD8923;
	--on-highlight: #ffffff;

	--PrimaryText: #1F2937;
	--secondaryBackground: #F9FAFB;
	--footerBackground: #252525;

	--AuthGradient: linear-gradient(90deg, #FFEEE0 40%, #FFFFFF 100%);
}


html,
body {
	margin: 0;
	padding: 0;
}
